<!--Modal Add Start-->
<div class="modal" id="modalEkle">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <div class="modal-title">
                    <h3>Hakkımızda Ekle</h3>
                </div>
            </div>

            <form class="form-group" action="/AdminAbout/AddAbout/" method="post">
                <div class="modal-body">
                    <label>Hakkında Metin 1</label>
                    <input type="text" class="form-control" name="AboutDetails1" />
                    <br />
                    <label>Hakkında Metin 2</label>
                    <input type="text" class="form-control" name="AboutDetails2" />
                    <br />
                    <label>Hakkında Görsel 1</label>
                    <input type="text" class="form-control" name="AboutImage1" />
                    <br />

                    <label>Hakkında Görsel 2</label>
                    <input type="text" class="form-control" name="AboutImage2" />

                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">İptal</button>
                    <button class="btn btn-warning">Kaydet</button>

                </div>
            </form>



        </div>

    </div>

</div>
<!--Modal Add End-->
